<ion-header >
    <ion-toolbar>
        <ion-icon name="home"></ion-icon>
        <button type="button" (click) = "onBackHome()" > Back </button>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Details d'une crêpe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


    <ion-img [src]= "currentPancake.picture.webViewPath"></ion-img>
    <ion-card>
            <ion-card-header>
                <ion-card-title>{{currentPancake.name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                {{currentPancake.description}}
            </ion-card-content>
    </ion-card>
</ion-content>