<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Pancakes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Pancakes Catalog</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <ion-grid>
      <ion-row *ngFor="let aPancake of panCollection" >
          <ion-col size="auto" >
                  <div class="container">
                      <h3>{{aPancake.name}}</h3>
                      <p> {{aPancake.description}} </p>
                  </div>
          </ion-col>
      </ion-row>
  </ion-grid>  


</ion-content>
